<h1>Walkr</h1>

<p>
  Walkr is an application that connects <em>dogs</em> with <em>Walkrs</em>. Browse the site to find your match.
</p>

<h3>Are you seeking a Walkr or a Dog?</h3>

<a href="/dogs/">Dogs</a>
<img src="/images/dog_landing.jpg" alt="dog" >

<a href="/walkrs/">Walkers</a>
<img src="/images/walkr_landing.jpg" alt="dog" >

<p>
Walkr is brougth to you by <strong><a href="/images/group_5.jpg">Group 5</a></strong>.
</p>
