/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD

 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 /*
  * -- BASE STYLES --
  * Most of these are inherited from Base, but I want to change a few.
  */
 body {
     line-height: 1.7em;
     color: #7f8c8d;
     font-size: 13px;
     padding-top: 40px;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 label {
     color: #34495e;
     line-height: 2;
 }

 .pure-img-responsive {
     max-width: 100%;
     height: auto;
 }

 .pure-img-responsive-400 {
     max-width: 400px;
     height: auto;
 }

 /*
  * -- LAYOUT STYLES --
  * These are some useful classes which I will need
  */
 .l-box {
     padding: 1em;
 }

 .l-box-lrg {
     padding: 2em;
     border-bottom: 1px solid rgba(0,0,0,0.1);
 }

 .is-center {
     text-align: center;
 }



 /*
  * -- PURE FORM STYLES --
  * Style the form inputs and labels
  */
 .pure-form label {
     margin: 1em 0 0;
     font-weight: bold;
     font-size: 100%;
 }

 .pure-form input[type] {
     border: 2px solid #ddd;
     box-shadow: none;
     font-size: 100%;
     width: 100%;
     margin-bottom: 1em;
 }

 /*
  * -- PURE BUTTON STYLES --
  * I want my pure-button elements to look a little different
  */
 .pure-button {
     background-color: #1f8dd6;
     color: white;
     padding: 0.5em 2em;
     border-radius: 5px;
 }

 a.pure-button-primary {
     background: white;
     color: #1f8dd6;
     border-radius: 5px;
     font-size: 120%;
 }


 /*
  * -- MENU STYLES --
  * I want to customize how my .pure-menu looks at the top of the page
  */

 .home-menu {
     padding: 0.5em;
     text-align: center;
     box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
 }
 .home-menu {
     background: #2d3e50;
 }
 .pure-menu.pure-menu-fixed {
     /* Fixed menus normally have a border at the bottom. */
     border-bottom: none;
     /* I need a higher z-index here because of the scroll-over effect. */
     z-index: 4;
 }

 .home-menu .pure-menu-heading {
     color: white;
     font-weight: 400;
     font-size: 120%;
 }

 .home-menu .pure-menu-selected a {
     color: white;
 }

 .home-menu a {
     color: #6FBEF3;
 }
 .home-menu li a:hover,
 .home-menu li a:focus {
     background: none;
     border: none;
     color: #AECFE5;
 }


 /*
  * -- SPLASH STYLES --
  * This is the blue top section that appears on the page.
  */

 .splash-container {
     background: #1f8dd6;
     z-index: 1;
     overflow: hidden;
     /* The following styles are required for the "scroll-over" effect */
     width: 100%;
     height: 88%;
     top: 0;
     left: 0;
     position: fixed !important;
 }

 .splash {
     /* absolute center .splash within .splash-container */
     width: 80%;
     height: 50%;
     margin: auto;
     position: absolute;
     top: 100px; left: 0; bottom: 0; right: 0;
     text-align: center;
     text-transform: uppercase;
 }

 /* This is the main heading that appears on the blue section */
 .splash-head {
     font-size: 20px;
     font-weight: bold;
     color: white;
     border: 3px solid white;
     padding: 1em 1.6em;
     font-weight: 100;
     border-radius: 5px;
     line-height: 1.5em;
 }

 /* This is the subheading that appears on the blue section */
 .splash-subhead {
     color: white;
     letter-spacing: 0.05em;
     opacity: 0.8;
 }

 /*
  * -- CONTENT STYLES --
  * This represents the content area (everything below the blue section)
  */
 .content-wrapper {
     /* These styles are required for the "scroll-over" effect */
     position: absolute;
     top: 87%;
     width: 100%;
     min-height: 12%;
     z-index: 2;
     background: white;

 }

 /* This is the class used for the main content headers (<h2>) */
 .content-head {
     font-weight: 400;
     text-transform: uppercase;
     letter-spacing: 0.1em;
     margin: 2em 0 1em;
 }

 /* This is a modifier class used when the content-head is inside a ribbon */
 .content-head-ribbon {
     color: white;
 }

 /* This is the class used for the content sub-headers (<h3>) */
 .content-subhead {
     color: #1f8dd6;
 }
     .content-subhead i {
         margin-right: 7px;
     }

 /* This is the class used for the dark-background areas. */
 .ribbon {
     background: #2d3e50;
     color: #aaa;
 }

 /* This is the class used for the footer */
 .footer {
     background: #111;
 }

 /*
  * -- TABLET (AND UP) MEDIA QUERIES --
  * On tablets and other medium-sized devices, we want to customize some
  * of the mobile styles.
  */
 @media (min-width: 48em) {

     /* We increase the body font size */
     body {
         font-size: 16px;
     }
     /* We want to give the content area some more padding */
     .content {
         padding: 1em;
     }

     /* We can align the menu header to the left, but float the
     menu items to the right. */
     .home-menu {
         text-align: left;
     }
         .home-menu ul {
             float: right;
         }

     /* We increase the height of the splash-container */
 /*    .splash-container {
         height: 500px;
     }*/

     /* We decrease the width of the .splash, since we have more width
     to work with */
     .splash {
         width: 50%;
         height: 50%;
     }

     .splash-head {
         font-size: 250%;
     }


     /* We remove the border-separator assigned to .l-box-lrg */
     .l-box-lrg {
         border: none;
     }

 }

 /*
  * -- DESKTOP (AND UP) MEDIA QUERIES --
  * On desktops and other large devices, we want to over-ride some
  * of the mobile and tablet styles.
  */
 @media (min-width: 78em) {
     /* We increase the header font size even more */
     .splash-head {
         font-size: 300%;
     }
 }

 .pure-u-1-4 {
    width: 25%;
    *width: 24.9690%;
}

.pure-u-1-2,
.pure-u-2-4 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-3-4 {
    width: 75%;
    *width: 74.9690%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-4-4 {
    width: 100%;
}

.center {
  text-align: center;
}


table td {
  padding: 1em;
  text-align: left;
  vertical-align: top;
}

table th {
  padding: 1em;
  text-align: left;
  background-color: #77b5ff;
  color: #050c22
}

.list {
  display: inline-block;
}
=======
 /* sidebar */
@import "bootstrap-sprockets";
@import "bootstrap";

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
 /* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
 #error_explanation {
   color: red;
   ul {
     color: red;
     margin: 0 0 30px 0;
   }
 }

 .field_with_errors {
   @extend .has-error;
   .form-control {
     color: $state-danger-text;
   }
 }
 .checkbox {
   margin-top: -10px;
   margin-bottom: 10px;
   span {
     margin-left: 20px;
     font-weight: normal;
   }
 }

 #session_remember_me {
   width: auto;
   margin-left: 0;
 }
>>>>>>> log-in-log-out
